div {
  background-color: aqua;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  position: absolute;
  top: 200px;
  left: 300px;
  animation: color 2s ease-in 1s infinite alternate;
}
@keyframes color {
  from {
    left: 0;
    background-color: yellow;
    transform: scale(3);
    transform: rotate(45deg);
  }
  to {
    background-color: cornflowerblue;
    left: 500px;
    transform: scale(4);
    transform: rotate(360deg);
  }
}
